<script type="module">
  import "{{ app.zkit.libraryPath }}controllers/transpose-fx.module.js";
</script>

<!-- images list (with special guest "time-clock" widget) -->
<div class="elements-view" self="size-medium center-center" layout="rows center-center">

    <div class="widget-container" style="overflow:hidden;background: black;border-radius: 0"
         transpose-to="tfx">
        <video loading="lazy" width="100%" onclick="this.play()"
               poster="demo_video_cover.jpg"
               autoplay loop>
            <source src="./Jellyfish_720_10s_1MB.webm">
        </video>
    </div>

    {% for i in (1..3) %}
        <img src="https://picsum.photos/seed/t-fx!{{ now | date: 'D' }}{{i}}/400/200"
             width="200" height="100" alt="" loading="lazy"
             transpose-to="tfx">
    {% endfor %}

    <div z-load="widgets/time-clock"
         layout="column center-center" class="widget-container"
         transpose-to="tfx"></div>

    {% for i in (5..8) %}
        <img src="https://picsum.photos/seed/t-fx!B{{ now | date: 'D' }}{{i}}/400/200"
             width="200" height="100" alt="" loading="lazy"
             transpose-to="tfx">
    {% endfor %}

</div>

<!-- the detail view with "transpose-fx" controller -->
<div class="my-dialog-view">
    <transpose-fx z-context="tfx"></transpose-fx>

    <div layout="column spread-center" style="height: 100%">
        <div layout="rows center-justify">
            <div self="size-1of2 sm-full" class="transpose-fx-container"></div>
            <div self="size-1of2 sm-full" layout="column center-center" style="padding: 12px">
                <h1>Transpose Fx Demo</h1>
                <div>
                    A wonderful serenity has taken possession
                    of my entire soul, like these sweet mornings
                    of spring which I enjoy with my whole heart.
                    I am alone, and feel the charm of existence
                    in this spot, which was created for the bliss
                    of souls like mine.
                </div>
            </div>
        </div>
        <div>
            <p style="padding: 12px">
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                there live the blind texts. Separated they live in Bookmarksgrove right at the coast of
                the Semantics, a large language ocean. A small river named Duden flows by their place and
                supplies it with the necessary regelialia.
            </p>
        </div>
        <footer self="bottom" style="padding: 12px">
            <a ctrl z-load="@lib/controllers/mdl-button"
               z-options="{class: 'accent'}"
               z-lazy="false" layout="row center-center"
               (click)="tfx.end()">
                <i class="material-icons">close</i>
                Close
            </a>
        </footer>
    </div>

</div>

<script>
zuix.context('tfx', (tfx) => tfx.on({
  'transpose:begin': (e, el) => console.log(e, el),
  'transpose:end': (e, el) => console.log(e, el)
}));
</script>

<style>

    .elements-view img, .widget-container {
        cursor: pointer;
    }

    .my-dialog-view {
        background: #205856f2;
        backdrop-filter: blur(5px);
        box-shadow: 0 0 14px 6px rgb(0 0 0 / 30%);
        border-radius: 4px;
        color: white;
        position: fixed;
        left: 12px;
        right: 12px;
        top: 0;
        bottom: 0;
        margin: auto;
        max-width: 1024px;
        max-height: 720px;
        height: 95%;
        z-index: 1000;
        display: none;
    }
    .my-dialog-view p {
        margin: 0;
    }

    .elements-view {
        gap: 12px;
    }

    .transpose-fx-container {
        padding: 12px;
        aspect-ratio: 2/1;
    }

    @media screen and (min-width: 1280px) {
        .my-dialog-view {
            position: fixed;
            top: 24px;
            left: 328px!important;
            right: 48px!important;
            bottom: 24px;
            z-index: 1000;
        }
    }

    @media screen and (min-width: 1024px) {
        .my-dialog-view {
            left: 24px;
            right: 24px;
            max-height: 480px;
        }
    }

    @media screen and (min-width: 800px) {
        .my-dialog-view {
            max-height: 480px;
        }
    }

    @media screen and (max-height: 390px) {
        .my-dialog-view {
            font-size: 95%;
        }
    }


    .widget-container {
        color: black;
        border-radius: 22px;
        width: 200px; height: 100px;
        background: rgba(127,127,127,0.5);
    }

</style>
