{% layout 'rows start-spread' 'class="components-summary" self="size-medium"' %}

<div>
    <label>Controllers</label>
    <ul>
        {% assign controllers = collections.controllers | sort: 'data.pubDate' | reverse | sort: 'data.order' %}
        {%- for post in controllers -%}
        {% assign match = page.url | split:post.url %}
        <li {% if match[0] == blank %} aria-current="page"{% endif %}>
            <a href="{{ post.url | url }}">
                <div layout="row center-lett">
                    <i class="material-icons">{{ post.data.icon }}</i>
                    <span>{{ post.data.title }}</span>
                </div>
            </a>
        </li>
        {%- endfor -%}
    </ul>
</div>

<div>
    <label>Components</label>
    <ul>
        {% assign components = collections.components | sort: 'data.pubDate' | reverse | sort: 'data.order' %}
        {%- for post in components -%}
        {% assign match = page.url | split:post.url %}
        <li {% if match[0] == blank %} aria-current="page"{% endif %}>
            <a href="{{ post.url | url }}">
                <div layout="row center-lett">
                    <i class="material-icons">{{ post.data.icon }}</i>
                    <span>{{ post.data.title }}</span>
                </div>
            </a>
        </li>
        {%- endfor -%}
    </ul>
</div>

{% endlayout %}

<style>
    .components-summary {
        margin-top: 80px;
    }
    .components-summary label {
        font-weight: bold;
        color: var(--primary-color);
    }
    .components-summary ul {
        margin: 0;
        padding-left: 0;
    }
    .components-summary li {
        list-style: none;
    }
    .components-summary li a {
        color: darkslategrey;
    }
    .components-summary li i {
        margin-right: 12px;
    }
</style>
